body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Üye paneli stili */
.uyepanel {
    background-color: #fff; /* Arka plan rengi */
    border: 1px solid #ddd; /* Kenar rengi */
    border-radius: 5px; /* Kenar yuvarlama */
    padding: 20px; /* İç boşluk */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
    margin: 20px; /* Dış boşluk */
}

    /* Bağlantı stili */
    .uyepanel a {
        color: #007bff; /* Bağlantı rengi */
        text-decoration: none; /* Alt çizgi yok */
        margin-right: 15px; /* Sağda boşluk */
        font-weight: bold; /* Kalın yazı */
    }

        .uyepanel a:hover {
            text-decoration: underline; /* Üzerine gelince alt çizgi */
        }
