.formTasiyici {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    align-items: center; /* Yatayda ortalama */
    margin: 20px auto; /* Üst ve alt boşluk, ortalamak için yan boşluk */
    max-width: 500px; /* Maksimum genişlik */
    padding: 20px; /* İçerik için boşluk */
    border: 1px solid #ddd; /* Kenarlık */
    border-radius: 5px; /* Yuvarlatılmış köşeler */
    background-color: #f9f9f9; /* Arka plan rengi */
}

.formBaslik h3 {
    margin: 0; /* Varsayılan margin'i kaldır */
    padding: 10px 0; /* Üst ve alt padding ekle */
    text-align: center; /* Başlığı ortala */
}

asp\:TextBox {
    width: 100%; /* Genişliği %100 yap */
    max-width: 400px; /* Maksimum genişlik */
    padding: 10px; /* İçerik için boşluk */
    margin: 10px 0; /* Üst ve alt boşluk */
    border: 1px solid #ccc; /* Kenarlık */
    border-radius: 4px; /* Yuvarlatılmış köşeler */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

.button-container {
    margin-top: 20px; /* Butonu yukarıdan 20px aşağı indirin */
    text-align: center; /* Butonu ortala */
}

asp\:Button {
    padding: 10px 20px; /* İçerik için boşluk */
    border: none; /* Kenarlık yok */
    border-radius: 4px; /* Yuvarlatılmış köşeler */
    background-color: #5cb85c; /* Buton arka plan rengi */
    color: white; /* Buton metin rengi */
    cursor: pointer; /* İmleç işareti */
}

    asp\:Button:hover {
        background-color: #4cae4c; 
    }

asp\:Label {
    margin-top: 10px; 
}
