body {
    background-image: url('../resim/100-adet-karisik-10-farkli-renk-hediye-dogum-gunu-dilekleri-dugun-para-davetiye-mektup-zarfi-kcm58455185-1-d6a0f9b8796b41be85a0b177da88b51f.jpg');
    background-size: 40%; 
    background-repeat: no-repeat; 
    background-position: center 110%; 
    height: 100vh; 
    
    
}
