* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.formTasiyici {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formBaslik {
    background-color: #ededed;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.formIcerik {
    padding: 20px;
    border: 1px solid silver;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.satir {
    padding: 15px 0;
}
.link a {
    text-decoration: none; 
    color: darkred; 
}

.metinKutu,
.bolunmusmetinKutu {
    width: calc(100% - 14px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}
.tarihKutu {
    width: 200px; 
    height:30px;
}
.islemButton {
    background-color: #4CAF50; 
    text-decoration: none;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s, transform 0.2s; 
}

    .islemButton:hover {
        background-color: #45a049; 
        transform: scale(1.05); 
    }
