.tabloTasiyici {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right:150px;
}

.gv-style {
    margin: 0 auto; 
    width: 150%; 
    text-align: center; 
    margin-left:-75px;
}
.sayfaBaslik {
    text-align: center;
}
