body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
}


.ustcubuk {
    background-color: #3b3f51;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}


.anaBaslik {
    text-align: left;
    flex-grow: 1; 
}

.anaBaslik h2 {
    margin: 0;
    font-size: 24px;
}

.anaBaslik h5 {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #cfcfcf;
}


.kullaniciAlani {
    text-align: right;
    flex-grow: 1;
    text-align: right;
}

.kullanicieleman {
    margin-left: 10px;
    color: #cfcfcf;
    text-decoration: none;
    font-size: 14px;
}


.ustMenuKategoriler {
    display: flex;
    justify-content: center; 
    background-color: #2f323a;
    padding: 10px 0;
}

.ustMenuKategoriler a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
}

.ustMenuKategoriler a:hover {
    background-color: #3b3f51;
    border-radius: 5px; 
}


.anaIcerik {
    padding: 20px;
    background-color: #fff;
    min-height: calc(100vh - 140px);
    overflow-x: auto;
    min-width: 0;
}