*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 50px;
    background-color: brown;
}


.tasiyici {
    width: 400px;
    margin: 0 auto; 
    padding: 20px;
    background-color: white;
}


h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}


.satir {
    margin-bottom: 15px;
}

    .satir label {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #555;
    }

.metinKutu {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
}

    .metinKutu:focus {
        border-color: #007BFF;
        outline: none;
    }


.girisButton {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .girisButton:hover {
        background-color: #218838;
    }


.panelBasarisiz {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
}

    .panelBasarisiz label {
        font-family: Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
